ping-pong/db/*
ping-pong/incremental_db/*
ping-pong/output_files/*
ping-pong/*.qws
ping-pong/*.bak
ping-pong/pingpong.qsf
ping-pong/res/*.bmp
ping-pong/res/*.txt
ping-pong/res/*.m
ping-pong/res/*.bak
report/report.aux
report/report.bbl
report/report.blg
report/report.log
report/report.synctex
report/report.pdf
report/report.toc
*~
